extends ../../../layouts/base-whitefooter.jade


block head
  title DC/OS 1.10.3 skipped release

block content

  .container.container--dark-background
    +header

    .container__content
      h1 DC/OS 1.10.3 (skipped)

  .container
    .container__content
      .container__content--release-notes.docs-layout__docs-content
        include:markdown notes.md


  .container
      +footer
