.demo-card .card-content {
  height: 100%;
}

.demos-cards .cta--button,
.demos-cards-featured .cta--button,
.demos-cards .cta--text,
.demos-cards-featured .cta--text {
  display: inline-block;
}

.demos-cards,
.demos-cards-featured {

  .cta--button {
    margin-right: 1rem;
  }

  .youtube {
    position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
    border: 1px solid #e5e5e5;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
  }

  img {
    border: 1px solid #e5e5e5;
  }

}

.demos-cards .thumb {
  width: 100%;
  height: 310px;
  background-size: cover;
}
