.tutorial-cards,
.tutorial-cards-featured {
  .tutorial {
    width: 100%;
    background-color: $snow;
    border-radius: 4px;
    @include box-shadow(0px 0px 0px 1px rgba($black, 0.10), 0px 1px 2px 0px rgba($black, 0.05));

      @include break($tablet-landscape) {
        width: 48%;

        &:nth-child(odd) {
          margin-right: 1rem;
        }

        &:nth-child(even) {
          margin-left: 1rem;
        }
      }
  }

  .tutorial-versions {
    padding-top: 1rem;
  }

  .tutorial-versions a {
    display: inline-block;
    background-color: $heliotrope20;
    color: $heliotrope;
    font-size: 0.75rem;
    border-radius: 3px;
    margin: 0 0.125rem;
    padding: 0.25rem 0.325rem;
  }
}

.tutorial-cards-featured {
  .tutorial {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.tutorial-title {
  overflow: hidden;
}
