include ./footer-libraries.jade

mixin footer()
  .container__content.container__content--footer
    .footer
      .footer__link-list
        ul.footer-main
          li.footer-item
            a(href='/contribute/') Contribute
          li.footer-item
            a(href='/tos/') Terms&nbsp;of&nbsp;Service
          li.footer-item
            a(href='/privacy/') Privacy&nbsp;Policy
          li.footer-item
            a(href='/brand/') Press&nbsp;Kit
          li.footer-item
            a(href='mailto:community-team@dcos.io') Contact

        ul.footer-secondary
          li.footer-item
            a(href='http://www.twitter.com/dcos')
              img.footer-item__icon.twitter-icon(src='/assets/images/icons/twitter-dark.svg')
              span Twitter
          li.footer-item
            a(href='http://chat.dcos.io/')
              img.footer-item__icon(src='/assets/images/icons/slack-dark.svg')
              span Slack
          li.footer-item
            a(href='https://github.com/dcos')
              img.footer-item__icon(src='/assets/images/icons/github-dark.svg')
              span GitHub
          li.footer-item
            a(href='https://jira.mesosphere.com')
              img.footer-item__icon(src='/assets/images/icons/jira-dark.svg')
              span Jira
      .footer__copyright-wrap(style='font-size: 12px;')        
        ul.footer-third      
          li.footer-item 
            a(href='https://mesosphere.com') DC/OS is backed by Mesosphere, Inc.

  +libraries
