mixin header(lightHeader)
  nav.navigation&attributes(attributes)

    .mobile-nav-container
      a#nav-icon(href="#" class=lightHeader ? 'dark' : '')
        span
        span
        span
        span

      .nav-logo-container
        a(href='/').nav-logo
          div.logo(class=lightHeader ? 'dark' : '')

    ul.menu-mobile
      li.menu-item
        if(locals.filename === 'install.html')
          a(href='/install/').active Install
        else
          a(href='/install/') Install

      li.menu-item
        if(locals.filename === 'releases.html')
          a(href='/releases/').active Releases
        else
          a(href='/releases/') Releases

      li.menu-item
        a(href='/docs/latest/') Documentation

      li.menu-item
        if(locals.filename === 'demos.html')
          a(href='/demos/').active Demos
        else
          a(href='/demos/') Demos

      li.menu-item
        if(locals.filename === 'learning.html')
          a(href='/learning/').active Learning
        else
          a(href='/learning/') Learning

      li.menu-item
        if(locals.filename === 'community.html')
          a(href='/community/').active Community
        else
          a(href='/community/') Community

      li.menu-item
        if(locals.filename === 'blog-index.html')
          a(href='/blog/').active Blog
        else
          a(href='/blog/') Blog

    ul.menu
      li.menu-item
        if(locals.filename === 'install.html')
          a(href='/install/').active Install
        else
          a(href='/install/') Install

      li.menu-item
        if(locals.filename === 'releases.html')
          a(href='/releases/').active Releases
        else
          a(href='/releases/') Releases

      li.menu-item
        a(href='/docs/latest/') Documentation

      li.menu-item
        if(locals.filename === 'demos.html')
          a(href='/demos/').active Demos
        else
          a(href='/demos/') Demos

      li.menu-item
        if(locals.filename === 'learning.html')
          a(href='/learning/').active Learning
        else
          a(href='/learning/') Learning

      li.menu-item
        if(locals.filename === 'community.html')
          a(href='/community/').active Community
        else
          a(href='/community/') Community

      li.menu-item
        a(href='https://universe.dcos.io/#/') Catalog

      li.menu-item
        if(locals.filename === 'article.html')
          a(href='/blog/').active Blog
        else
          a(href='/blog/') Blog
