mixin head()
  link(rel='stylesheet', type='text/css', href='/styles/index.css?v=#{locals.cssTimestamp}')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(charset="UTF-8")
  link(rel="shortcut icon" type="image/x-icon" href="/assets/images/icons/favicon/favicon.ico")
  link(rel="apple-touch-icon" href="/assets/images/icons/favicon/favicon.png")
