mixin header()

  nav.navigation

    .mobile-nav-container
      a#nav-icon.dark(href="#")
        span
        span
        span
        span

      .nav-logo-container
        a(href='/')
          img.logo-docs(src='/assets/images/header-dcos-logo.svg')

    ul.menu-mobile.menu-mobile--docs

        li.menu-item
          a(href='/install/') Install

        li.menu-item
          a(href='/releases/') Releases

        li.menu-item
          a(href='/docs/latest/') Documentation

        li.menu-item
          a(href='/demos/') Demos

        li.menu-item
          a(href='/learning/') Learning

        li.menu-item
          a(href='/community/') Community

        li.menu-item
          a(href='/blog/') Blog

    ul.menu
      li.menu-item
        a(href='/install/') Install
      li.menu-item
        a(href='/releases/') Releases
      li.menu-item
        if (locals.filename.includes('docs'))
          a(href='/docs/latest/').active Documentation
        else
          a(href='/docs/latest/') Documentation
      li.menu-item
        a(href='/demos/') Demos
      li.menu-item
        a(href='/learning/') Learning
      li.menu-item
        a(href='/community/') Community
      li.menu-item
        a(href='https://universe.dcos.io/#/') Catalog
      li.menu-item
        if (locals.filename.includes('blog-index'))
          a(href='/blog/').active Blog
        else
          a(href='/blog/') Blog
