extends ../layouts/base.jade

block head
  title The Definitive Platform for Modern Apps | DC/OS
  meta(property='og:locale', content='en_US')
  meta(property='og:type', content='article')
  meta(property='og:title', content='The Definitive Platform for Modern Apps | DC/OS')
  meta(property='og:image', content='https://dcos.io/assets/images/social-img.png')
  meta(property='og:description', content='Based on the production proven Apache Mesos, combining years of  experience, and best practices of building and running modern applications in production.')
  meta(property='og:url', content='https://dcos.io/')
  meta(property='og:site_name', content='DC/OS')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@dcos')
  meta(name='twitter:title', content='The Definitive Platform for Modern Apps | DC/OS')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:image', content='https://dcos.io/assets/images/social-img.png')
  meta(name='twitter:description', content='Based on the production proven Apache Mesos, combining years of  experience, and best practices of building and running modern applications in production.')

block content
  .container.container--dark-background.clearfix.sm-pb0(style="display: block;")
    .mx-auto.max-width-4.px2
      +header(style="padding: 0;")



    //- Wallop slider
    .Wallop.Wallop--fade.px0
      .Wallop-list.mx-auto.left-align
        .Wallop-item.flex.flex-wrap.flex-auto.has-bg.md-py4.py2.px2(style='background-image: url(/assets/images/hero-bg-tiles.svg);')
          .max-width-4.mx-auto.flex.flex-wrap.flex-auto.items-center
            .sm-col-5.col-12.xs-center
              h1.hero-title
                span Day 2 Operations:
                br
                span.typer2
                span &nbsp;it

              a(href='/day2ops').btn.btn-primary.block.sm-inline-block Learn More
            .sm-col-7.col-12.xs-center.right-align
              +image('/assets/images/day2ops-illustration.png')

        .Wallop-item.flex.flex-wrap.flex-auto.has-bg.md-py5.py2.px2(style='background-image: url(/assets/images/illustrations/fast-data-header.svg);')
          .max-width-4.mx-auto.flex.flex-wrap.flex-auto.items-center
            .sm-col-6.col-12.xs-center
              h1.hero-title
                span Deploy your fast
                br.sm-hide.md-hide
                span data pipeline
                br.sm-hide.md-hide
                span with DC/OS
              a(href='/fast-data').btn.btn-primary.block.sm-inline-block Learn More
            .sm-col-6.col-12.lg-hide
              +image('/assets/images/fast-data.png')

        .Wallop-item.flex.flex-wrap.flex-auto.md-py5.py2.px2
          .max-width-4.mx-auto.flex.flex-wrap.flex-auto.items-center
            .sm-col-6.col-12.xs-center
              h1.hero-title
                span The easiest way to
                br
                span run&nbsp;
                span.typer containers
                br
                span in production.

              a(href='/get-started').btn.btn-primary.block.sm-inline-block Get Started
              a.inline-block.sm-ml3.block.sm-inline-block.m0(href='#', data-overlay-toggle='video-overlay')
                img.cta--video__icon.inline-block.align-middle(src='/assets/images/icons/playbutton.png')
                p.cta--video__text.inline-block.mt0.mb2 Play Video
            .sm-col-6.col-12
              +image('/assets/images/hero-image.png')

      .hero-nav.center
          a(href='#', data-target='0').hero-nav--item.m0.active
          a(href='#', data-target='1').hero-nav--item.m0
          a(href='#', data-target='2').hero-nav--item.m0


  //- Platform section
  .outer-container.bg-white.clearfix.py4
    .row.flex.flex-column
      .sm-col.sm-col-12.md-col-8.mx-auto.center
        h2 Datacenter Operating System
        p DC/OS (the datacenter operating system) is an open-source distributed operating system based on the Apache Mesos distributed systems kernel. DC/OS manages multiple machines in the cloud or on-premises from a single interface; deploys containers, distributed services, and legacy applications into the cluster; and provides the networking, service discovery and resource management to keep those services running and communicating with each other.
        //- a(href='/why-dcos').cta.cta--button.button--secondary(style="display: inline-block;") Learn More

  //- Features
  .outer-container.clearfix.py3.px2
    .row
      .max-width-4.mx-auto
        .mxn2.flex.flex-wrap.flex-auto

          .lg-col-3.col-6.left-align.px2.mb4.md-mb4.lg-mb0
            a(href='/community').block.m0
              img.hero-list__item__image(src="/assets/images/icons/open-source-dark.svg")
              h5.hero-list__item__copy__title 100% Open Source
              p.hero-list__item__copy__paragraph.small DC/OS is completely open source and supported by a vibrant (and friendly) community! Get connected with your fellow members.

          .lg-col-3.col-6.left-align.px2.mb4.md-mb4.lg-mb0
            a(href='http://mesos.apache.org/').block.m0
              img.hero-list__item__image(src="/assets/images/icons/mesos.svg")
              h5.hero-list__item__copy__title Built with Apache Mesos
              p.hero-list__item__copy__paragraph.small Mesos' two-level scheduling increases your resource utilization, and DC/OS lowers the barrier of entry to Mesos cluster administration.

          .lg-col-3.col-6.left-align.px2
            a(href='/packages').block.m0
              img.hero-list__item__image(src="/assets/images/icons/packages.svg")
              h5.hero-list__item__copy__title Over 100 packages
              p.hero-list__item__copy__paragraph.small Installing distributed data services, databases, CI/CD tools, and monitoring on DC/OS takes just a few clicks or commands.

          .lg-col-3.col-6.left-align.px2
            a(href='https://mesosphere.com/about/').block.m0
              img.hero-list__item__image(src="/assets/images/icons/timer.svg")
              h5.hero-list__item__copy__title Commercially backed
              p.hero-list__item__copy__paragraph.small When you contribute to DC/OS you'll engage with Mesosphere's world-class developers, who help DC/OS grow and thrive every day.


  .outer-container.bg-white.clearfix.py3.px2
    .row.flex.flex-column
      .sm-col.sm-col-12.md-col-8.mx-auto.center.mt2
        h2 Your Application on Any Infrastructure
    .max-width-4.mx-auto
      .stack-diagram(style='margin-left: 0; margin-right: 0;').mxn2
        .stack-diagram__top
          .stack-diagram__top-info
            h3 Workloads
            p Deploy and connect containers, services, and legacy apps on a common pool of resources, while remaining blissfully agnostic of their location.
            .stack-diagram__arrow
              .stack-diagram__dot
        .stack-diagram__middle
          .stack-diagram__middle-info
            h3 DC/OS Resources
            p Efficient resource scheduling, high availability, load balancing, networking, service discovery, service co-location (pods), unified metrics and logging, and automatic failure detection and recovery are built into DC/OS.
            .stack-diagram__arrow
              .stack-diagram__dot
        .stack-diagram__bottom
          .stack-diagram__bottom-info
            h3 Hardware
            p DC/OS can run on AWS, Azure, DigitalOcean, Packet, on-premises, or locally for testing. It lends portability to your applications.
            .stack-diagram__arrow
              .stack-diagram__dot


  .overlay(data-overlay='video-overlay')
    .overlay__close-cta
      a(href='#', data-overlay-toggle='video-overlay')
        img(src='/assets/images/icons/cancel.svg')
    .overlay__video
      iframe(src="https://www.youtube-nocookie.com/embed/VdhJ_Fm3_mk?rel=0&enablejsapi=1&amp;showinfo=0;" frameborder="0" allowfullscreen)

  .container.container--dark-background
    .container__content
       h2 Choose a provider and install DC/OS
       a(href='/install').cta.cta--button Install DC/OS

    +footer
