extends ../layouts/base-whitefooter.jade

block head
  title Tutorials

block content

  .container.container--dark-background
    +header

    .container__content
      h1 Learning

      .row
        .max-width-4.mx-auto
          .mxn2.flex.flex-wrap.flex-auto
            .md-col-3.col-12.left-align.px2.mb4.md-mb4.lg-mb0
              h4 Community
              p.small Learn from DC/OS users and admins by joining the DC/OS community. Find recordings, join meetings, and ask questions via #[a(href="http://chat.dcos.io/") Slack]
              a(href='https://dcos.io/community/').bold.small Join the community →

            .md-col-3.col-12.left-align.px2.mb4.md-mb4.lg-mb0
              h4 Deployment FAQ
              p.small If you're encountering challenges, others probably are as well. Check out the answers to our most frequently asked deployment questions
              a(href='/docs/1.9/deploying-services/faq/').bold.small Read the FAQ →

            .md-col-3.col-12.left-align.px2.mb4.md-mb4.lg-mb0
              h4 Paid Training
              p.small Learn to use and administer DC/OS in paid, real-time training courses&mdash;in person or online&mdash;offered by Mesosphere.
              a(href='https://mesosphere.com/training/').bold.small Learn about training →

            .md-col-3.col-12.left-align.px2.mb4.md-mb4.lg-mb0
              h4 Pro-services
              p.small Mesosphere provides paid consulting services and support to address specific DC/OS deployment and operations challenges.
              a(href='https://mesosphere.com/services/').bold.small Learn about pro-services →

  .outer-container.clearfix
    div.pt3.px2.mb4(style='background-color: #fafafa')
      div.flex.flex-wrap.max-width-4.mx-auto
        div.lg-col-8.col-12.xs-col-12.px2.mx-auto.pb2.mb2.center
          h3(style='max-width: 46rem;') Tutorials
          p
            | Tutorials are hands-on walkthroughs of common DC/OS operations, with explanations of what's going on under the hood. They're learning tools to help you get more familiar with DC/OS. For scripted demonstrations of DC/OS capabilities see the #[a(href="/demos/") Demos page].
    .tutorial-cards-featured.cards.flex.flex-auto.items-start.flex-wrap.max-width-4.mx-auto.px2.lg-px0

  .outer-container.bg-white.clearfix.pt3.pb5.px2
    .tutorial-cards.cards.flex.flex-wrap.max-width-4.mx-auto
      //- This is where the demos cards are automagically added


  .container
    +footer
